  <div id="buttons">
    <a href="/"><button class="btn" id="home">Home</button></a>
   
<a href="/library" target="_blank"><button class="btn" id="">Library</button></a>
  </div>
      <h4>{{ season }}, {{ litdate }}, Year {{ cycle }}</h4>
      <h5>{{ caldate }}</h5>

      <ul class="collapsible expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Opening: {{ gathering }}</div>
      <div class="collapsible-body">
        <span>What goes here?</span>jkjhkjh
        </div>
    </li>

        <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Penitential Act: {{ penitential }}</div>
      <div class="collapsible-body">
        <span>kjhkjhkjhkljhkljhkjh</span>
        </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Gloria: {{ gloria }}</div>
      <div class="collapsible-body">
        </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Preparation: {{ prep }}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

  </ul>
      
      {{!-- <tr>
        <th id="">{{ this.caldate }}</th>
        <th id="">{{ this.season }} {{ this.litdate }}, Year {{ this.cycle }}</th>
        <th id="">{{ this.opening }}</th>
        <th id="">{{ this.prep }}</th>
        <th id="">{{ this.communion1 }}</th>
        <th id="">{{ this.communion2 }}</th>
        <th id="">{{ this.closing }}</th>
      </tr> --}}
   