      <h4>{{ this.season }} {{ this.litdate }}, Year {{ this.cycle }}</h4>
      <h5>{{ this.caldate }}</h5>
      <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Opening: {{ this.opening }} ({{ this.opening_composer }})</div>
      <div class="collapsible-body">
        <span>{{ this.opening_lyrics.refrain }}</span>
        {{#each this.opening_lyrics.verses }}
        <p>{{@key}}. {{ this }}</p>
        {{/each }}
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Preparation: {{ this.prep }}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Communion 1: {{ this.communion1 }}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Communion 2: {{ this.communion2 }}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Closing: {{ this.closing }}</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
      
      {{!-- <tr>
        <th id="">{{ this.caldate }}</th>
        <th id="">{{ this.season }} {{ this.litdate }}, Year {{ this.cycle }}</th>
        <th id="">{{ this.opening }}</th>
        <th id="">{{ this.prep }}</th>
        <th id="">{{ this.communion1 }}</th>
        <th id="">{{ this.communion2 }}</th>
        <th id="">{{ this.closing }}</th>
      </tr> --}}
   