  <div id="buttons">
    <a href="/"><button class="btn" id="home">Home</button></a>
   
<a href="#"><button class="btn" id="library_reset">Library</button></a>
  </div>

<h4>Music Library</h4>
<div id="buttons">
    <a href="/add/library"><button class="btn" id="add_library">Add New Song</button></a>
  </div>

{{!-- insert tabs headings here --}}

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#tab1">Title</a></li>
        <li class="tab col s3"><a  href="#tab2">Composer</a></li>
        <li class="tab col s3"><a href="#tab3">Other?</a></li>
      </ul>
    </div>

{{!-- insert tabs contents here --}}
<div id="tab1">

<div class="">
    <div class="col s12">
      <div class="">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input1" class="autocomplete1">
          <label for="autocomplete-input1">Search Music Library</label>
        </div>
      </div>
    </div>
  </div>

<ul class="collapsible expandable">
    {{#each data}}
        {{#if render}}
    <li>
      <div class="collapsible-header" data-id="{{ _id }}"><i class="material-icons">queue_music</i>{{ title }}    
      <br /> by {{ composer }}</div>
      <div class="collapsible-body"><span>{{ refrain }}</span>
        {{#each verses }}
        <p>{{ this }}</p>
        {{/each }}
        <p>{{ copyright }}</p>
        <a href="/library/{{ _id}}" target="_blank" class="waves-effect waves-teal btn-flat edit" data-id="{{ _id }}">Edit</a>
        </div>
    </li>
        {{/if}}
    {{/each}}
</ul>

</div> {{!-- end of tab1 --}}

<div id="tab2">
  <div class="">
    <div class="col s12">
      <div class="">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input2" class="autocomplete2">
          <label for="autocomplete-input2">Search Music Library</label>
        </div>
      </div>
    </div>
  </div>

<ul class="collapsible expandable">
    {{#each data}}
        {{#if render}}
    <li>
      <div class="collapsible-header" data-id="{{ _id }}"><i class="material-icons">queue_music</i>{{ title }}    
      <br /> by {{ composer }}</div>
      <div class="collapsible-body"><span>{{ refrain }}</span>
        {{#each verses }}
        <p>{{ this }}</p>
        {{/each }}
        <p>{{ copyright }}</p>
        <a href="/library/{{ _id}}" target="_blank" class="waves-effect waves-teal btn-flat edit" data-id="{{ _id }}">Edit</a>
        </div>
    </li>
        {{/if}}
    {{/each}}
</ul>

</div> {{!-- end of tab2 --}}
<div id="tab3">
  this is tab3.
</div> {{!-- this is the end of tab3 --}}

</div> {{!-- end of all tabs --}}



<div class="row">
    <div class="col s12 m9 l10">
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#">Introduction</a></li>
        <li><a href="#">Structure</a></li>
        <li><a href="#">Intialization</a></li>
      </ul>
    </div>
    </div>
    </div>